<!--<form (ngSubmit)="login()" class="mt-5">-->
<!--  <h1 class="mb-4">BigMReach</h1>-->
<!--  <div class="form-group">-->
<!--    <label for="email">Email</label>-->
<!--    <input type="email" id="email" name="email" class="form-control" [(ngModel)]="email" required>-->
<!--  </div>-->
<!--  <div class="form-group">-->
<!--    <label for="password">Password</label>-->
<!--    <input type="password" id="password" name="password" class="form-control" [(ngModel)]="password" required>-->
<!--  </div>-->
<!--  <button type="submit" class="btn btn-primary">Login</button>-->
<!--  <br><br>-->
<!--  <p><a routerLink="#" (click)="forgotPassword()">Forgot password?</a></p>-->
<!--  <p>Don't have an account? <a routerLink="/signup">Sign up</a></p>-->
<!--  <div *ngIf="errorMessage" class="mt-4">-->
<!--    <p class="text-danger">{{ errorMessage }}</p>-->
<!--  </div>-->
<!--</form>-->

