<!--<form (ngSubmit)="signup()" >-->
<!--  <h1>Friendling</h1>-->
<!--  <label for="email">Email</label>-->
<!--  <input type="email" id="email" name="email" [(ngModel)]="email" required>-->
<!--  <label for="first-name">First Name</label>-->
<!--  <input type="text" id="first-name" name="first-name" [(ngModel)]="firstName" required>-->
<!--  <label for="last-name">Last Name</label>-->
<!--  <input type="text" id="last-name" name="last-name" [(ngModel)]="lastName" required>-->
<!--  <label for="nickname">Username</label>-->
<!--  <input type="text" id="nickname" name="nickname" [(ngModel)]="nickname" required>-->
<!--  <label for="password">Password</label>-->
<!--  <input type="password" id="password" name="password" [(ngModel)]="password" required>-->
<!--  <label for="confirmPassword">Confirm Password</label>-->
<!--  <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword" required>-->
<!--  <p>By signing up, you agree to our <a href="#">Terms</a> and <a href="#">Privacy policy</a>.</p>-->
<!--  <button type="submit" class="btn btn-primary" >Sign up</button>-->
<!--  <p>Have an account? <a href="">Log in</a></p>-->
<!--  <div *ngIf="errorMessage">-->
<!--    <p style="color: red">{{ errorMessage }}</p>-->
<!--  </div>-->
<!--</form>-->

