/* Register page */

body {
  background-color: #fafafa;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 48px;
  color: #262626;
  margin-top: 50px;
  margin-bottom: 20px;
}

form {
  width: 500px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

label {
  display: block;
  text-align: left;
  font-size: 14px;
  color: #8e8e8e;
  margin-bottom: 5px;
  font-weight: 600;
  letter-spacing: 0.1em;
}

input[type="email"],
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  font-size: 14px;
  color: #262626;
  background-color: #fafafa;
  box-sizing: border-box;
}

button[type="submit"] {
  width: 100%;
  background-color: #0095f6;
  color: white;
  padding: 10px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}

button[type="submit"]:hover {
  background-color: #0073aa;
}

p {
  margin-top: 20px;
  font-size: 14px;
  color: #8e8e8e;
}

a {
  color: #003569;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.text-danger {
  color: red;
}
